*{
    padding:0;
    margin: 0;
}
html,body{
    height:100%;
    width:100%;
}
canvas{
    display: block;
}
#myButtons{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
#myButtons button{
    padding: 5px;
}
#myCanvas{
    background: #dff0d8;
}